<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>

    <form action="login" method="post">

        {% csrf_token %}

        <input type="text" name="username" placeholder="Userame"> <br>
        <input type="password" name="password" placeholder="Password"> <br>
        <br>
        <input type="submit" value="Login">

        <br>
        <div>

            {% for message in messages %}

            <h3>{{message}}</h3>

            {% endfor %}
        </div>

    </form>

</body>
</html>